# Ignore Simio backup files
*.backup

# Ignore all log files (in Simio, these are simulation data files)
*.log

# Ignore all stats files (in Simio, these are simulation data files)
*.stats

# Ignore trace files
*trace.csv

# Ignore all files in the ViewInfo folder
ViewInfos/

# Ignore Gantt ViewStates
ViewState/

# Ignore DevExpress Layouts
DevExpressLayout*.xml
